# Ignore files with no extension:
*
!/**/
!*.*

# Ignore directories:
.vscode/
Images/
Sample Outputs/
Trash/

# Ignore text files:
*.txt

# Ignore extentions:
*.exe
*.o

# Ignore files starting with 'test':
Test*

# Keep on ignoring:
/files*number*generator.*
/Doodle.*
